.env
.idea
### Node ###
/node_modules
nodemon.json
# Optional npm cache directory
.npm

lib

### Visual Studio Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/.vscode/settings.json

### System Files ###
*.DS_Store

samplefile.pdf

# Uploads
uploads
